* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #07212d;
}

/* SECCIÓN HEADER */

/* ocultar menú hamburguesa */

#menu-toggle,
.menu-label {
    display: none;
}

header {
    display: flex;
    justify-content: center;
}

.bars {
    width: 20px;
    height: 20px;
    margin: 0 20px 0 0
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 50px;
}

.container {
    /* background-color: rgb(255, 255, 255); */
    background: linear-gradient(to bottom, rgb(11, 11, 10), #07212d);
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-left: 50px;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.links {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    margin-right: 50px;
}

/* SECCIÓN HERO */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#hero {
    background-color: #07212d;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-left: 54px;
}

.hero-info h1 {
    /* color: rgb(255, 255, 255); */
    background: linear-gradient(to top, #30cfd0, #c43ad6);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 29px;

}

.hero-info p {
    color: white;
    font-size: 15px;
    width: 70%;
}

.cover {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cover {
    width: 80%;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 2px white;
}

.hero-links {
    display: flex;
    gap: 20px;
}

.btn {
    background: #355C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
}


/* Section company info*/

#company-info {
    max-width: 1200px;
    background-color: #07212d;
    color: white;
    padding: 70px 0;
}

#company-info p {
    text-align: center;
    font-size: 15px;
    margin: 30px;
}

/* Section nuestras vetnajas */

.page-cards {
    max-width: 1200px;
    width: 100%;
    padding: 70px 0;
}

h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;

}


.ventajas {
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 10px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 35%;

}

.card h3,
p {
    color: white;
}

.card p {
    font-size: 12px;
    text-align: center;
    width: 300px;
}

.icon {
    width: 60px;
    height: 60px;
}

/* SECTION CONTACTANOS */

.contactanos {
    display: flex;
    max-width: 1200px;
    width: 100%;
    padding: 70px 0;
}

.contactanos h2 {
    text-align: left;
    padding-top: 50px;
}

.contact {
    width: 60%;
}

.contact-img {
    width: 40%;
}

.info-uno {
    width: 50%;
}

.info-dos {
    width: 50%;
}

.icons {
    width: 20px;
    height: 20px;
}

.info-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 15px;
}

.dire,
.telefono,
.mail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-uno h3 {
    margin: 60px 0;
    color: white;
    font-weight: normal;
}

.info-dos h3 {
    margin: 60px 0;
    color: white;
    font-weight: normal;
}

.contact-info {
    display: flex;
}

.computer-img {
    width: 480px;
    height: 395px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 2px white;
}

.info-container {
    display: flex;
}

.social-media {
    display: flex;
    gap: 30px;
}

.social-icons {
    width: 25px;
    height: 25px;
    margin: 60px 0;
}

/* SECTION FOOTER */

footer {
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, rgb(11, 11, 10), #07212d);
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 150px;
    gap: 20px;
}

.footer-img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.footer-text p {
    color: white;
    font-size: 10px;
}