* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #e5e5e5;
}

/* SECCIÓn HEADER */

header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.links {
    text-decoration: none;
    font-size: 14px;
    color: #00a6fb;
    margin-right: 50px;
}

/* SECCIÓN HERO */

main {
    display: flex;
    justify-content: center;
    width: 100%;
}

#hero {
    background-color: #023047;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-left: 54px;
}

.hero-info h1 {
    color: rgb(255, 255, 255);
    font-size: 29px;

}

.hero-info p {
    color: white;
    font-size: 15px;
    width: 70%;
}

.cover {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cover {
    width: 80%;
    height: 300px;
    border-radius: 8px;
}

.btn {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 8px;
    text-transform: uppercase;
}

.btn-contacto {
    margin-right: 10px;
}